# Config file
*.env
# AOC Inputs
**/inputs

## Rust
**/debug
**/target
**/*.rs.bk
*.pdb

## Python
*.py[cod]
**/__pycache__
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
